
.menu{
	height: 50px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	background-color: #FFF;
}

.sub_menu{
	line-height: 35px;
}

.background{
	width: 100%;
	height: 600px;
}

.nav-item a{
	color: #000;
}
.nav .nav-item:hover a{
	font-size: 20px;
	color: red;
	transition: all 0.3s;
}

.content{
	height: 2000px;
}

.title{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-item{
	display: flex;
	justify-content: space-between;
	height: 1200px;
	flex-wrap: wrap;
}	

.item{
	width: 32%;
	height: 450px;
	margin-top: 10px;
	background-color: #FFF;
}

.item img {
	margin-bottom: 10px;
}

.info {
	line-height: 15px;
}

.info a{
	color: #555;
}

#cost{
	color: #48cab2;
}

#cost_down{
	color: #e12c43;
}
